@mixin style-text(){

    font-stretch: normal;
    font-weight: normal;
    letter-spacing: normal;
    font-style: normal;
    text-align:center;
    font-family: $font-text;   

}

@mixin style-title(){
    
    font-stretch: normal;
    font-weight: $bold;
    letter-spacing: normal;
    font-style: normal;
    font-family: $font-title;
}
@mixin button-white (){
    background-color: white;
    color: $feel-button;

}