.section {
    height: 75vh;
    display: flex;
    flex-direction: column;
    font-family: $font-text;
    font-size: $size-text;
    gap: 3px;


    &__h3 {
        @include style-text;
        color: $feel-button;
        font-size: 14px;
        line-height: 2.14;
        text-align: left;
        margin-top: 34px;
        padding-left: 18px;
    }

}

.article {
    gap: 25px;
    display: flex;
    flex-direction: column;

    &__h4 {
        @include style-title;
        font-size: 24px;
        line-height: 1.25;
        text-align: left;
        padding-left: 18px;
    }

    &__text {
        @include style-text;
        text-align: left;
        width: 287px;
        height: 200px;
        color: #4a4a4a;
        align-self: center;

    }

}

.button-buy {
    @include style-text;
    font-size: 20px;
    font-weight: 500;
    line-height: 2.25;
    border: $feel-button;
    background-color: white;
    color: $feel-button;
    border: 2px solid $feel-button;
    border-radius: 22.5px;
    font-weight: 500;
    width: 137.1px;
    height: 45px;
    margin-left: 10px;

}