.footer {
    height: 80vh;
    @include style-text;
    color: white;
    font-size: $size-footer;
    background-color: #4a4a4a;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 20px;
    padding-bottom:40px;

    &__list--1 {
        height: 30%;
        text-transform: uppercase;
        list-style: none;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }
    &__list--2 {
        height: 30%;
        text-transform: uppercase;
        list-style: none;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

}

.figure {
    display: flex;
    color: $feel-button;
    background-color: white;
    border-radius: 80%;
    height: 45px;
    width: 45px;
    align-self: center;
    justify-content: center;
    position: absolute;
    top:1510px;
    

    &__arrow--top {
        width: 20.6px;
        height: 24px;
        align-self: center;
    }
}


.copy {
    display: flex;
    justify-content: center;
    align-self: center;

}

@media (min-width 768px){

    .footer {

        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;

    }

}