.header {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    width: 100vw;
    height: 100vh;
    background-image: url("../../public/images/cover.jpeg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}

.button-menu {
    @include flex-center;
    width: 37px;
    height: 34px;
    background-color: $feel-button;
    border: $feel-button;
    position: fixed;
    top: 0px;
    left: 0px;

}

.button-img {
    width: 13.5px;
    height: 11.1px;

}

.discount {
    @include flex-center;
    flex-direction: column;
    margin-top: 280px;
    margin-left: 10px;

}

.discount-h1 {
    @include style-title;
    color: $discount-button;
    font-size: 30px;
    line-height: 50px;
    text-transform: uppercase;
    line-height: 1.67;
    text-align: center;
    text-shadow: 0 1px 3px $colortext;
    width: 315px;

}

.discount-h2 {
    color: white;
    @include style-text;
    font-size: $size-footer;
    font-weight: $regular;
    line-height: 19px;
    width: 243.3px;
    height: 16px;

}

.container-arrow {
    width: 200px;
    height: 80px;
    display: flex;
    align-self: center;
    justify-content: center;
    align-items: flex-end;
    position: absolute;
    top: 430px;

}

.button-arrow {
    @include flex-center;
    height: 35.7px;
    width: 37.9px;
    background-color: white;
    border-radius: 80%;
    margin-bottom: px;

}

.button-arrow-img {
    background-color: white;
    width: 16.8px;
    height: 9.3px;

}

@media (min-width: 768px) {

    .discount {
        display: flex;
        align-self: center;

        &__h1 {
            @include style-title;
            font-size: 75px;
            line-height: 100px;
            color: white;
            text-transform: uppercase;
            text-shadow: 0 2px 3px black;

        }

        &__h2 {
            @include style-text;
            font-size: 24px;
            line-height: 28px;
            color: white;
            width: 45%;

        }
    }
}