// font family

$font-title: 'Roboto Slab', serif;
$font-text: 'Roboto', sans-serif;
$font-button: 'Roboto', sans-serif;

// font weight
$medium: 500;
$bold: bold;
$regular: normal;

// font color
$discount-button: white;
$feel-button: #f26002;
$colortext: black;

// font size
$size-text: 18px;
$size-footer:16px;
