<section class="section">
    <h3 class="section__h3">Los sentimientos nos inspiran</h3>
    <article class="article">
        <h4 class="article__h4">Conecta Contigo</h4>
        <p class="article__text">Esto es una celebración de todo lo que nos mueve. Del poder de elegir y de la libertad
            de ser. Rendimos homenajes al hermoso caos del movimiento y a la plena consciencia que tan bien nos hacen
            sentir</p>
    </article>
    <button class="button-buy"> <a class="start-button" href="https://adalab.es/"></a>Comprar</button>

</section>