<footer class="footer">
    <figure class="figure">
        <a href="../header.html#go-top"> </a> <img class="figure__arrow--top" src="/images/ico-arrow.svg"
            alt="Ir al inicio" /> <a>
    </figure>

        <ul class="footer__list--1">
            <li><a class="link" href="https://adalab.es/">zapatillas</li>
            <li><a class="link" href="https://adalab.es/">ropa</li>
            <li><a class="link" href="https://adalab.es/">niño/a</li>
            <li><a class="link" href="https://adalab.es/">destacados</li>
            <li><a class="link" href="https://adalab.es/">tips</li>
        </ul>

        <ul class="footer__list--2">
            <li><a class="link" href="https://adalab.es/">twitter</a></li>
            <li><a class="link" href="https://adalab.es/">instagram</a></li>
            <li><a class="link" href="https://adalab.es/">youtube</a></li>
        </ul>
        <span class="copy"> ©2023 </span>
        <span class="copy"> we🧡run </span>
   

</footer>