<header class="header">

    <nav class="nav-menu">
        <button class="button-menu">
            <figure><img class="button-img" src="/images/ico-menu.svg" alt="Botón de menú"></figure>
        </button>
    </nav>

    <section class="discount">
        <h1 class="discount-title">hasta un 50% de descuento</h1>
        <h2 class="here-title">ya están aquí las ofertas de fin de temporada</h2>
        <button class="button">
            <img class="button__down--arrow" src="/images/ico-scroll-down.svg"
                alt="botón de flecha que lleva a la siguiente sección">
        </button>
    </section>

</header>