<header class="header">
    
        <figure class="button-menu">
            <a href="https://adalab.es/"> <img class="button-img" src="/images/ico-menu.svg" alt="Botón de menú" /></a>
        </figure>
   
    <section class="discount">
        <h1 class="discount-h1">hasta un 50% de descuento.</h1>

        <h2 class="discount-h2">ya están aquí las ofertas de fin de temporada</h2>
    </section>

    <div class="container-arrow" >
        <figure class="button-arrow">
            <a href="../index.html#new-year"> <img class="button-arrow-img" src="/images/ico-scroll-down.svg"
                alt="botón de flecha que lleva a la siguiente sección" />  </a>
       
        </figure>
    </div>

</header>