<section class="new-year">
    <h5>Año nuevo, movimientos nuevos</h5>
    <article class="reasons" >
        <title>Entrenamientos</title>
        <p>Sesiones de running y entrenamientos.</p>
    </article>
    <article class="reasons" >
        <title>Cualquier nivel</title>
        <p>Entrenamientos para cada nivel</p>
    </article>
    <article class="reasons" >
        <title>Exclusividad</title>
        <p>Productos para miembros premium</p>
    </article>
    <button>Empezar ahora</button>
</section>